/* public/css/app.css */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}

.hero {
    height: 100vh;
    background: url('/imagenes/backia-transformed.jpeg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 800px; /* Ancho máximo del contenedor */
    padding: 40px;
    background-color: rgba(66, 69, 66, 0.5); /* Fondo oscuro semitransparente */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que todos los elementos estén centrados */
    overflow: hidden; /* Evita que el contenido desborde */
    box-sizing: border-box;
}

.hero-content h1,
.hero-content p {
    animation: fadeIn 2s ease-in-out;
    margin-bottom: 20px; /* Asegura que haya un espaciado constante */
}

.logo-container {
    max-width: 350px; /* Límite máximo para el contenedor del logo */
    margin-bottom: 20px; /* Espacio debajo del logo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid-logo-sena {
    width: 130%; 
    height: 130%; /* Mantiene las proporciones del logo */
    transition: transform 0.3s ease; /* Animación suave al pasar el ratón */
}

.img-fluid-logo-sena:hover {
    transform: scale(1.5); /* Efecto de zoom */
}

.buttons .btn {
    animation: bounceIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.footer {
    background-color: #202020;
}
