.section-content{
    background: linear-gradient(145deg, #2e7d32 0%, #39a900 100%);
    color: white;
    padding: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

.card{
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 2rem;
}

.card:hover{
    transform: translateY(-5px);
    /* box-shadow: 0 6px 12px rgba(46, 125, 50, 0.08); */
    /* background-color: #f1f8e9; */
}

.card-icon{
    font-size: 3rem;
    color: #429419;
    margin-bottom: 1rem;
}

.timeline{
    position: relative;
    padding: 2rem 0;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: #39a900;
}

.team-member{
    text-align: center;
    margin-bottom: 2rem;
}

.team-member img{
    width: 150px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid #39a900;
    object-fit: inherit;
}

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #429419 !important;
    border-color: #429419 !important;
}
.back-to-top:hover{
    background-color: #39a900 !important;
    border-color: #39a900 !important;
}

.fas.mb-3{
    color: #429419 !important;
}

.team-member-placeholder{
    display: flex;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-color: #39a900;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
}
.card .mb-3{
    font-size: 2rem;
    color: #429419;
}

.section-content .lead {
    padding: 0 5rem;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.8;
}
