/* public/css/styles_login.css */

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f8f9fa; /* Color de fondo para el cuerpo */
}

.logo-container img {
    max-width: 200px; /* Ajusta el tamaño del logo */
}

.custom-card {
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
}

.card-header {
    background-color: #343a40;
    color: #ffffff;
    font-size: 1.25rem;
}

.card-body {
    padding: 20px;
}

.form-label {
    font-weight: bold;
}

.footer-text {
    color: #6c757d;
    font-size: 0.875rem;
}

.bombilla {
    max-width: 24px; /* Ajusta el tamaño del ícono */
}
